*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_STORE
Worksheet_1/*
Worksheet_2/*
Worksheet_3/*
/Project_1/nbproject/private/
/Project_1/build/
/Project_1/nbproject/project.properties
/Project_1/dist/
/*/build-*/*
/Project_2/build-Test2-Desktop_Qt_5_3_0_MinGW_32bit-Debug/*
/*/Project_2/build-Test2-Desktop_Qt_5_3_0_MinGW_32bit-Debug/*